Resume ATS Analysis Workflow.json
{
  "name": "Resume ATS Analysis Workflow - PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-ats-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "85a8a88b-006d-466d-ac96-a5c7002fec41",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        0
      ],
      "webhookId": "6242c69a-41d4-4138-8247-4a91d50b2f06"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "id": "extract-pdf-node",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        20,
        -100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "75779286-d4f1-4c61-98e0-4ff7d20dfa89",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this resume for ATS optimization. \n\nName: {{ $node[\"Webhook\"].json[\"userName\"] }}\nEmail: {{ $node[\"Webhook\"].json[\"userEmail\"] }}\n\nResume Content (Extracted): \n{{ $node[\"Extract PDF Text\"].json[\"text\"] || $node[\"Webhook\"].json[\"text\"] }}\n\nOutput only a valid JSON object in this exact format:\n{\n  \"score\": number (0-100),\n  \"analysis\": {\n    \"missing_keywords\": [\"list\", \"of\", \"skills\"],\n    \"formatting_issues\": [\"list\", \"of\", \"layout\", \"problems\"],\n    \"suggestions\": [\"concrete\", \"steps\", \"to\", \"improve\"]\n  }\n}",
        "options": {
          "systemMessage": "You are a professional ATS (Applicant Tracking System) Specialist. Your goal is to help students optimize their resumes to pass automated filters. Be critical but constructive."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        380,
        0
      ],
      "id": "8108ab30-da37-45de-bd87-bb9ad1fd01a1",
      "name": "ATS AI Expert"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-preview-02-05:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        220
      ],
      "id": "65f0de12-52c3-4203-a259-2d14c18fb85a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zER34E5LGvRxnRE1",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.all()[0].json.output;\ntry {\n  // Clean JSON string if LLM wrapped it in markdown\n  const cleanedJson = output.replace(/```json|```/g, '').trim();\n  return JSON.parse(cleanedJson);\n} catch (e) {\n  return {\n    score: 50,\n    analysis: { \n       missing_keywords: [\"Analysis error\"], \n       formatting_issues: [\"Invalid format returned\"], \n       suggestions: [\"Try re-uploading your resume\"]\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "id": "f556b14e-394c-4b41-a714-782563a1dbbf",
      "name": "Format JSON Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "ATS AI Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATS AI Expert": {
      "main": [
        [
          {
            "node": "Format JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ATS AI Expert",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1234053b-fa44-4541-b785-a4305a27aeea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac53766b75ba98327cb8367953362c144cd1e7b33149a3b252d1556380af54e8"
  },
  "id": "h7PuSQg4sZ7nRouB",
  "tags": []
}