resume.json
{
  "name": "Resume ATS Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-ats-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e30e66d4-8d4e-48a0-b5a1-77a287c88ae1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
          },
          {
            "name": "HTTP-Referer",
            "value": "https://aotms.app"
          },
          {
            "name": "X-Title",
            "value": "AOTMS LMS"
          }
        ],
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "model",
            "value": "google/gemini-2.0-flash-lite-preview-02-05:free"
          },
          {
            "name": "messages",
            "value": "=[{\"role\": \"system\", \"content\": \"You are an expert ATS (Applicant Tracking System) reviewer. Analyze the provided resume text. Return ONLY a JSON object with this structure: { \\\"score\\\": number, \\\"analysis\\\": { \\\"missing_keywords\\\": string[], \\\"formatting_issues\\\": string[], \\\"suggestions\\\": string[] } }\"}, {\"role\": \"user\", \"content\": \"{{ $node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"text\\\"] || 'No text provided' }}\"}]"
          },
          {
            "name": "response_format",
            "value": "={ \"type\": \"json_object\" }"
          }
        ],
        "options": {}
      },
      "id": "f5e9da22-2a21-4f9e-be33-149bc2388e63",
      "name": "OpenRouter AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        240
      ]
    },
    {
      "parameters": {
        "assignments": [
          {
            "id": "b182065b-d36c-48c5-9279-8800187c32e9",
            "name": "result",
            "value": "={{ JSON.parse($node[\"OpenRouter AI\"].json[\"choices\"][0][\"message\"][\"content\"]) }}",
            "type": "object"
          }
        ],
        "options": {}
      },
      "id": "a92e1eef-703a-4467-8fa0-68121e788ae1",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e1f182e1-7de1-48e1-95e1-88121e788ae1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        240
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
